
<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <%= f.input :title %>

    <div class="input string optional post_text">
      <%= f.label :text, "Text" %> 
      <%= f.text_area :text %>
    </div>

    <%= f.button :submit %>

<% end %>
