<div class="feedPostHeader">
  <h2 class="feedPostTitle">
    <%= post.title %>
  </h2>
  <% if user_signed_in? %>
    <p class="author">
      Author: <%= post.user.username %>
    </p>
  <% else %>
    <p class="author"><i>Sign in to see who wrote this post!</i></p>
  <% end %>
</div>
<div class="feedPostBody">
  <p class="feedPostText">
    <%= post.text %>
  </p>
</div>
<% if user_signed_in? %>
  <div class="feedPostMoreInfo">
      <%=link_to "See more", post %>
      <p>
        Created on: <%= post.created_at.to_date.to_formatted_s(:long_ordinal) %> 
      </p>
      <% if @user.likes.find_by(post_id: post.id) %>
        <%= link_to "Unlike", like_path(id: @user.likes.find_by(post_id: post.id).id), data: {turbo_method: :delete} %>
      <% else %>
        <%= link_to "Like", likes_path(user_id: current_user.id, post_id: post.id), data: {turbo_method: :post} %>
      <% end %>
  </div>
<% end %>

