<% if user_signed_in? or @top_five_posts.any? %>
  <div id="userTrendPostContainer">
    <% if user_signed_in? %>
      <div id="profileInfo">
        <div>
          <img src="<%= user_avatar(current_user) %>">
        </div>
        <div>
          <strong id="usernameDisplay"><%= current_user.username %></strong>
        </div>
      </div>
      <% if current_user.posts.any? %>
        <div id="userPostsContainer">
          <h2>Your Posts</h2>
          <div id="userPosts">
            <% current_user.posts.each do | post | %>
              <%= button_to post.title, post_path(post), method: :get %>
            <% end %>
          </div>
        </div>
      <% end %>
      <% if current_user.likes.any? %>
        <div id="userLikedPostsContainer">
          <h2>Liked Posts</h2>
          <div id="userLikedPosts">
            <% current_user.likes.each do | like | %>
              <%= button_to like.post.title, post_path(like.post), method: :get %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
    <% if @top_five_posts.any? %>
      <div id="trendingPostsContainer">
        <% if @top_five_posts.each.count >= 5 %>
          <h2>Top 5 Posts</h2>
        <% else %>
          <h2>Top <%= @top_five_posts.each.count %> Posts</h2>
        <% end %>
        <% @top_five_posts.each do | post | %>
          <%= button_to Post.find(post.post_id).title, post_path(id: post.post_id), method: :get %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

  <div id="feedContainer">
    <% if user_signed_in? %>
      <div id="newPostFormContainer" class="formHide">
        <div id="newPostFormHeader">
          <h1>Create a post!</h1>
          <a href="#" id="newPostCloseLink">X</a>
        </div>
        <div id="newPostForm">
          <%= render 'posts/form', post: @post %>
        </div>
      </div>
    <% end %>  
    <h1>Posts</h1>
    <div id="feedPostContainer">
      <% if @posts.any? %>  
        <% @posts.each do |post| %>
          <div class="feedPost">
            <div class="feedPostHeader">
              <h2 class="feedPostTitle">
                <%= post.title %>
              </h2>
              <% if user_signed_in? %>
                <p class="author">
                  Author: <%= post.user.username %>
                  <img src="<%= user_avatar(post.user) %>"> 
                </p>
              <% else %>
                <p class="author"><i>Sign in to see who wrote this post!</i></p>
              <% end %>
            </div>
            <div class="feedPostBody">
              <p class="feedPostText">
                <% if post.text.length > 200 %>
                  <%= post.text[0..200] %>...
                <% else %>
                  <%= post.text %>
                <% end %>
              </p>
            </div>
            <div class="feedPostMoreInfo">
                <%=button_to "See more", post, method: :get %>
                <p>
                  Created on: <%= post.created_at.to_date.to_formatted_s(:long_ordinal) %> 
                </p>
            </div>
          </div>
        <% end %>
      <% else %>
        <% if user_signed_in? %>
          <p id="noPostMsg">There are no posts. Be the one to make history today!</p>
        <% else %>
          <p id="noPostMsg">There are no posts. Sign in and make history today!</p>
        <% end %>
      <% end %>
    </div>
  </div>

