<div id="userTrendPostContainer">
  <% if user_signed_in? %>
    <div id="profileInfo">
      <div>
        <img height="96px" width="96px" src="https://bulma.io/images/placeholders/96x96.png">
      </div>
      <div>
        <strong id="usernameDisplay">@<%= current_user.username %></strong>
      </div>
    </div>
    <% if current_user.posts.any? %>
      <div id="userPostsContainer">
        <h2>Your Posts</h2>
        <div id="userPosts">
          <% current_user.posts.each do | post | %>
            <p><%=link_to post.title, post_path(post) %></p>
          <% end %>
        </div>
      </div>
    <% end %>
    <% if current_user.likes.any? %>
      <div id="userLikedPostsContainer">
        <h2>Liked Posts</h2>
        <div id="userLikedPosts">
          <% current_user.likes.each do | like | %>
            <p><%=link_to like.post.title, post_path(like.post) %></p>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
  <div id="trendingPostsContainer">
    <h2>Top Posts</h2>
    <% @top_five_posts.each do | post | %>
      <p><%= link_to Post.find(post.post_id).title, post_path(Post.find(post.post_id)) %></p>
    <% end %>
  </div>
</div>

<div id="feedContainer">
  <% if user_signed_in? %>
    <h1>Create a post!</h1>
    <div id="newPostFormContainer">
      <%= render 'posts/form', post: @post %>
    </div>
    <hr>
  <% end %>  
  <h1>Posts</h1>
  <div id="feedPostContainer">
    <% if @posts.any? %>  
      <% @posts.each do |post| %>
        <div id="feedPost">
          <%= render post %>
        </div>
      <% end %>
    <% else %>
      <% if user_signed_in? %>
        <p id="noPostMsg">There are no posts. Be the one to make history today!</p>
      <% else %>
        <p id="noPostMsg">There are no posts. Sign in and make history today!</p>
      <% end %>
    <% end %>
  </div>
</div>

