<div id="showContainer">

  <div id="postTitleContainer">
    <h1><%= @post.title %></h1>
    <% if user_signed_in? %>
      <p class="author">
        Written by: <%= @post.user.username %>
      </p>
    <% else %>
      <p class="author"><i>Sign in to see who wrote this post!</i></p>
    <% end %>
  </div>

  <div id="postBodyContainer">
    <p><%= @post.text %></p>
  </div>

  <div id="postLinksContainer">
    <%= link_to "Back to posts", posts_path %>
    <% if user_signed_in? && current_user == @post.user %>
      <div id="postEditDeleteContainer">
        <%= link_to "Edit this post", edit_post_path(@post) %>
        <%= link_to "Destroy this post", @post, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      </div>
    <% end %>
  </div>
</div> 
