<div id="showContainer">

  <div id="postTitleContainer">
    <h1><%= @post.title %></h1>
    <% if user_signed_in? %>
      <p id="author">
        Written by: 
        <img src="<%= user_avatar(@post.user) %>">
        <%= @post.user.username %>
      </p>
    <% else %>
      <p class="author"><i>Sign in to see who wrote this post!</i></p>
    <% end %>
  </div>

  <div id="postMoreInfoContainer">
    <p>
      Created on: <%= @post.created_at.to_date.to_formatted_s(:long_ordinal) %> 
    </p>

    <% if @post.likes %>
      <p>
        Likes: <%= @post.likes.count %>
      </p>
    <% end %>
  </div>

  <div id="postBodyContainer">
    <p><%= @post.text %></p>
  </div>

  <div id="postLinksContainer" >
    <%= button_to "Back to posts", posts_path, method: :get %>
    <% if user_signed_in? %>
      <% if current_user == @post.user %>
        <div id="postEditDeleteContainer">
          <div id="postEditLink">
            <%= button_to "Edit this post", edit_post_path(@post), method: :get %>
          </div>
          <div id="postDeleteLink" data-controller="posts">
            <%= button_to "Delete this post", @post, method: :delete, data: { action: "click->posts#delete" } %>
          </div>
        </div>
      <% elsif current_user.username != @post.user.username %>
        <% if current_user.likes.find_by(post_id: @post.id) %> 
          <%= button_to "Unlike", like_path(id: @user.likes.find_by(post_id: @post.id).id), method: :delete %>
        <% else %>
          <%= button_to "Like", likes_path(user_id: current_user.id, post_id: @post.id), method: :post %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div> 
