<!DOCTYPE html>
<html>
  <head>
    <title>WhoBook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "posts-index", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "posts-form", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "register.css", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "post-show.css", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "post-edit.css", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body data-turbo="false">
    <% if flash[:notice] %>
        <div class="notice"><%= notice %></div>
    <% end %>
    <% if flash[:alert] %>
        <div class="alert"><%= alert %></div>
    <% end %>
    <div id="header">
      <h1><%= link_to "WhoBook", posts_path %></h1>
      <div id="navBar">
        <% if user_signed_in? %>
          <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
          <% if action_name == "index" %>
            <button id="newPostButton" type="button">New Post</button>
          <% end %>
        <% else %>
          <%= button_to "Sign up", new_user_registration_path, method: :get %>
          <%= button_to "Login", new_user_session_path, method: :get%>
        <% end %>
      </div>
    </div>
    <div id="mainContent">
      <%= yield %>
    </div>
    <div id="footer">
      <h4>&copy; 2022 WhoBook Inc.</h4>
    </div>
  </body>
</html>
